<head>
  {% capture cannonical_url %}{{site.domain}}{{page.url}}{% endcapture %}
  {% capture description %}{% if page.excerpt %}{{page.excerpt | strip_html}}{% else %}{{site.description}}{% endif %}{% endcapture %}

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{site.fullname}} | {{page.title}}{% else %}{{site.fullname}}{% endif %}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{% if page.tags %}{{page.tags | join:', '}}{% else %}{{site.keywords}}{% endif %}">
  <meta name="author" content="{{site.fullname_human}}">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link rel="canonical" href="{{cannonical_url}}" />

  <!-- Open Graph -->
  <meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}{{site.fullname}}{% endif %}"/>
  <meta property="og:url" content="{{cannonical_url}}"/>
  <meta property="og:site_name" content="{{site.fullname_human}}"/>
  <meta property="og:description" content="{{description}}"/>
  <meta property="og:image" content="{{site.domain}}{{site.paths.images}}{{site.og_image}}" />
  <meta property="og:type" content="blog"/>
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="940" />
  <meta property="og:image:height" content="492" />

  <!-- Assets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
</head>